@model Bank.Models.LastViewModel

@{
    ViewBag.Title = "LastTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LastTransaction</h2>

@using (Html.BeginForm("LastTransactionsView", "Bank")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>LastViewModel</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.accountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.accountNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.accountNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="View" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>
