@model Bank.Models.LogViewModel

@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserHome</h2>

@ViewData["number"]

<div>
    @*<h4>LogViewModel</h4>*@
    <hr />
   
    <dl class="dl-horizontal">
        <dt>
           
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Account-to-Account Transfer", "TransferMoney", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Pay/Recharge", "Recharge")*@
    <center><button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("TransferMoney", "Bank")'">Account-to-Account Transfer</button>
    
     <button type="button" class="btn btn-danger"  onclick="location.href='@Url.Action("Recharge", "Bank")'">Pay/Recharge</button></center>
</p>
